@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&display=swap');

body {
  padding-top: 60px;
  font-family: 'Lato', sans-serif;
}

.post > h2, h1 {
  font-family: "Crimson Text", serif;
}

.starter-template {
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0em;
}

.post-info {
    font-size: smaller;
    color: #A0A0A0;
}

.post-info > a {
    color: #A0A0A0;
    text-decoration: underline;
}

.post-info > a:hover {
    color: #A0A0A0;
    text-decoration: none;
}

.post-title > h1 {
    margin-bottom: 5px;
}

.post-summary p {
    text-align: justify;
    text-justify: auto;
}

.post-summary h2 {
    font-size: x-large;
    font-weight: 600;
    margin-top: 0.0em;
    margin-bottom: 0.1em;
}

.post-summary .post-info {
    margin-bottom: 0.5em;
}

.post-summary a h2 {
    color: black;
}

.reddit-score {
    display: inline;
}

#discuss-footer {
    font-size: large;
    margin-top: 1em;
}

.sharing-links {
    margin-top: 1em;
    font-size: large;
}

#footer {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D0D0D0;
    margin: 1em 0;
    padding: 0; 
}

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

a.summary-title {
    color: black;
    text-decoration: none;
}

a.summary-title:hover {
    color: black;
    text-decoration: underline;
}

a.summary-title > h4 {
    margin-bottom: 0;
}

.MathJax .mi, .MathJax .mo {
    color: inherit;
}

.code-vertical-scroll pre {
  max-height: 40em;
}

.highlight pre code * {
  white-space: nowrap;
}

.highlight pre {
  overflow: auto;
}

.highlight pre code {
  white-space: pre;
}
