---
layout: default
title: Blog Home
nosharinglinks: 1
blogindex: 1
---

<br />
<div class="container">
  {% for post in site.posts %}
    {% unless post.noindex %}
      {% if post.h1title %}
        {% assign title = post.h1title %}
      {% else %}
        {% assign title = post.title %}
      {% endif %}
      <div class="card">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="{{ post.thumbimage }}" class="img-fluid" alt="" style="width: 10em;">
          </div>
          <div class="col">
            <div class="card-block px-2">
              <a class="summary-title" href="{{ post.url }}">
                <h4 class="card-title">{{ title }}</h4>
              </a>
              <div class="post-info">
                Created by
                <a href="mailto:blog@matthewearl.com">Matthew Earl</a>
                on {{ post.date | date: '%B %d, %Y' }}.
                {% if post.reddit-url %}
                  {% include discuss-link.html post=post %}
                {% endif %}
              </div>
              <br/>
              <p class="card-text">
                {% if post.excerpt %}
                  {{ post.excerpt }}
                {% endif %}
              &nbsp;&nbsp;<a href="{{ post.url }}">Read more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
	  <br />
    {% endunless %}
  {% endfor %}
</div>
