<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} - {{ site.name }}</title>

    <!-- Atom feed discovery -->
    {% feed_meta %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/default-layout.css" rel="stylesheet">

    <!-- Python syntax highlighting CSS -->
    <link href="/css/pygments.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-scroll"></i> {{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="https://www.buymeacoffee.com/mattsramblings" class="nav-link"><i class="fas fa-coffee"></i> Buy Me A Coffee!</a></li>
            <li class="nav-item"><a href="https://twitter.com/matts_ramblings" class="nav-link"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li class="nav-item"><a href="https://www.youtube.com/channel/UC5rM5xw7l2Y5n8YbdZx7-ow" class="nav-link"><i class="fab fa-youtube"></i>
                    YouTube</a></li>
            <li class="nav-item"><a href="mailto:blog@matthewearl.com" class="nav-link"><i class="fas fa-envelope"></i> E-mail</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      {% if page.blogindex %}
      <div class="starter-template">
      {% else %}
      <div class="starter-template post">
      {% endif %}
          {{ content }}

          {% unless page.blogindex %}
          <br /><br />If you enjoyed this post, please consider supporting my efforts:<br /><br/>

		<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="mattsramblings" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script> 

          {% endunless %}
          <hr>
          {% if page.reddit-url %}
          <div id="discuss-footer">
              {% include discuss-link.html %}
          </div>
          {% endif %}

          {% unless page.blogindex %}
            <nav>
              <ul class="pager">
                <li 
                  {% if page.previous %}
                      class="previous"
                  {% else %}
                      class="previous disabled"
                  {% endif %}
                >
                <a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span>Older</a></li>
                <li><a href="/">Blog Index</a></li>
                <li
                  {% if page.next %}
                      class="next"
                  {% else %}
                      class="next disabled"
                  {% endif %}
                ><a href="{{ page.next.url }}">Newer<span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
          {% include share-buttons.html %}
          {% endunless %}
      </div>
    </div><!-- /.container -->

    <footer id="footer">
        <small>Contact: <a href="mailto:blog@matthewearl.com">blog@matthewearl.com</a></small>
        <p class="copyright">
        <small>&copy; {{ site.time | date: '%Y' }} Matthew Earl. All Rights Reserved.</small>
        </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- MathJAX for inline math rendering -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!--
    {% if page.reddit-url or page.blogindex %}
    <script src="/js/reddit-scores.js"></script>
    <script>reddit_scores.fetch();</script>
    {% endif %}
    -->

    <script src="https://kit.fontawesome.com/f30cf74147.js" crossorigin="anonymous"></script>
  </body>
</html>

