<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }} - {{ site.name }}</title>

    <!-- Atom feed discovery -->
    {% feed_meta %}

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/default-layout.css" rel="stylesheet">

    <!-- Python syntax highlighting CSS -->
    <link href="/css/pygments.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fas fa-scroll"></i> {{ site.name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right navbar-icons">
              <li><a href="https://www.buymeacoffee.com/mattsramblings"><i class="fas fa-coffee"></i> Buy Me A Coffee!</a></li>
              <li><a href="https://twitter.com/matts_ramblings"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="https://www.youtube.com/channel/UC5rM5xw7l2Y5n8YbdZx7-ow"><i class="fab fa-youtube"></i>
                      YouTube</a></li>
              <li><a href="mailto:blog@matthewearl.com"><i class="fas fa-envelope"></i> E-mail</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      {% if page.blogindex %}
      <div class="starter-template">
      {% else %}
      <div class="starter-template post">
      {% endif %}
          {{ content }}

          {% unless page.blogindex %}
          <br /><br />If you enjoyed this post, please consider supporting my efforts:<br /><br/>

		<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="mattsramblings" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script> 

          {% endunless %}
          <hr>
          {% if page.reddit-url %}
          <div id="discuss-footer">
              {% include discuss-link.html %}
          </div>
          {% endif %}

          {% unless page.blogindex %}
            <nav>
              <ul class="pager">
                <li 
                  {% if page.previous %}
                      class="previous"
                  {% else %}
                      class="previous disabled"
                  {% endif %}
                >
                <a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span>Older</a></li>
                <li><a href="/">Blog Index</a></li>
                <li
                  {% if page.next %}
                      class="next"
                  {% else %}
                      class="next disabled"
                  {% endif %}
                ><a href="{{ page.next.url }}">Newer<span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
          {% include share-buttons.html %}
          {% endunless %}
      </div>
    </div><!-- /.container -->

    <footer id="footer">
        <small>Contact: <a href="mailto:blog@matthewearl.com">blog@matthewearl.com</a></small>
        <p class="copyright">
        <small>&copy; {{ site.time | date: '%Y' }} Matthew Earl. All Rights Reserved.</small>
        </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- MathJAX for inline math rendering -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {% if page.reddit-url or page.blogindex %}
    <script src="/js/reddit-scores.js"></script>
    <script>reddit_scores.fetch();</script>
    {% endif %}

    <script src="https://kit.fontawesome.com/f30cf74147.js" crossorigin="anonymous"></script>
  </body>
</html>

